.base {
    background-color: blue;
    height: 250px;
    border: 1px solid;
    width: 500px;
}
.filho1{
    background: red;
    height: 100px;
    border: 1px solid black;
    width: 260px;
    margin-bottom: 50px;
    margin-right: 50;
    margin-left: 150;
}
.filho2{
    background: green;
    height: 100px;
    border: 1px solid black;
    width: 260px;
    margin-top: 50px;
    margin-right: 50;
    margin-left: 50;
}
p{
    border: 3px solid black;
    margin-left: 40px;
}
span{
    border: 3px solid red;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}